$background-color: #f5f5f5;
$text-color: #1a1a1a;
$white-text-color: #fafafa;
$base-color: #3f3d3b;
$link-color: #088a8a;

body {
    font-family: 'Hiragino Kaku Gothic ProN', Ubuntu, Meiryo, sans-serif;
    color: $text-color;
    font-size: 17px;
    margin: 0 auto 1.2em;
    line-height: 1.9;
    background: $background-color;
}

* {
    line-break: strict;
}

a {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

code {
    border-radius: 4px;
    padding: 2px 4px;
}

code, .listingblock {
    font-family: "Source Code Pro", 'Courier New', Courier, monospace;
    background: #efefef;
}

.listingblock {
    padding: 10px 20px;
    margin: 30px 10px;
    overflow: scroll;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#header {
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 0;
}

#header, #content {
    background: #fefefe;
    max-width: 700px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;

    padding-left: 70px;
    padding-right: 70px;

    @media screen and (max-width:640px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#content {
    margin-top: -20px;
    margin-bottom: 70px;
    padding-top: 0;
    padding-bottom: 50px;
}

#footer {
    display: none;
}

h2 {
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 0px;
}

h3 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: -5px;
}

li {
    p {
        margin: 5px 0;
    }
}

.paragraph {
    margin-top: 1.2em;

    p {
        margin: 0;
    }
}

.title {
    font-weight: bold;
    font-size: 15px;
    margin-top: -10px;
}

.imageblock {
    margin-top: 30px;
    margin-bottom: 50px;
}

img {
    max-width: 80vw;
}

table {
    margin: 3em 0;
    border-collapse: collapse;
    border: 1px solid $base-color;

    caption {
        margin-bottom: 0.5em;
    }

    thead th {
        text-align: left;
        padding: 5px 10px;
        color: $white-text-color;
        background: $base-color;
        border-bottom: 1px solid $base-color;
    }    

    tbody td {
        padding: 5px 10px;
        border: 1px solid $base-color;

        p {
            margin: 0;
        }
    }
}

.text-center {
    text-align: center;
}

@media screen and (max-width:640px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 17px;
    }

    code {
        font-size: 14px;
    }
}
