:root {
    --color-bg: #fff;
    --color-text: #333;
    --color-link: #2c7cbc;
    --color-code: #555;
    --color-code-bg: #f5f5f5;
    --color-code-border: #dadada;
    --color-code-border-dark: #dadada;
    --color-nav-bg: #f6f6f6;
    --color-header-mark: #bababa;
    --color-hr: #bababa;
    --color-tag-bg: #f0f0f0;
    --color-tag-type-bg: #dedede;
    --color-table: #e0e0e0;
    --font-code:
        "SFMono-Regular", "Source Code Pro", Menlo,
        monospace;
    --font-default:
        "Crimson Pro",
        "Hiragino Kaku Gothic ProN",
        serif;
    --letter-spacing: 0em;
    --line-height: 1.5;
    --h2-margin-top: 3rem;
    --h2-margin-bottom: -1rem;
}

body:lang(ja) {
    --font-default:
        "Hiragino Kaku Gothic ProN",
        "Yu Gothic Medium",
        sans-serif;
    --letter-spacing: 0.06em;
    --line-height: 2em;
    --h2-margin-top: 4rem;
    --h2-margin-bottom: 0rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #2a2a2a;
        --color-text: #cacaca;
        --color-link: #50a3e6;
        --color-code: #dcdcdc;
        --color-code-bg: #3a3a3a;
        --color-nav-bg: #383838;
        --color-header-mark: #cacaca;
        --color-hr: #bababa;
        --color-tag-bg: #5a5a5a;
        --color-tag-type-bg: #4a4a4a;
        --color-table: #5a5a5a;
    }
}  

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--color-bg);
    color: var(--color-text);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    font-feature-settings: "palt" 1;
    font-family: var(--font-default);
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
    html {
        --default-font-size: 17px;
        &:lang(ja) {
            --default-font-size: 15px;
        }
    }

    main {
        width: 87vw;
    }
    
    nav .container {
        width: 87vw;
    }
}
    
@media only screen and (min-width: 800px) {
    html {
        --default-font-size: 20px;
        &:lang(ja) {
            --default-font-size: 17px;
        }
    }

    main {
        max-width: 800px;
    }
    
    nav .container {
        max-width: 800px;
    }
}

.content {
    flex: 1 0 auto;
}
  
main {
    margin: 2rem auto;        
    font-size: var(--default-font-size);
}

.posts {
    li {
        margin-bottom: 0.5em;
    }
    
    time {
        font-weight: bold;
        &:after {
            content: ":";
        }
    }
}

nav {
    padding: 0.4rem 1.5rem;
    background-color: var(--color-nav-bg);

    .container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: var(--color-text);
        font-weight: bold;
        &:hover {
            border-bottom: 1px solid;
        }
    }

    .posts-link {
        font-size: 95%;
        margin-right: 1em;
    }

    .icon {
        margin-right: 0.1em;
    }
}

footer {
    flex-shrink: 0;
    background-color: var(--color-nav-bg);
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: center;

    a {
        color: var(--color-link);
        background: var(--color-bg);
        font-weight: bold;
        text-decoration: none;
        border: 1px solid var(--color-header-mark);
        border-radius: 3px;
        padding: 1rem 3rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    margin-bottom: 0.2rem;

    font-size: 1.5rem;
    @media only screen and (max-width: 800px) {
        font-size: 1rem;
    }
}

.tags {
    margin: 0;

    .tag {
        margin-right: 1rem;
        font-size: 0.7rem;
        background: var(--color-tag-bg);
        padding: 0.4rem 0.4rem 0.4rem 0;
        border-radius: 5px;

        .type {
            margin: 0;
            padding: 0.4rem 0.4rem;
            background: var(--color-tag-type-bg);
            border-radius: 5px 0 0 5px;
        }

        .body {
            background: var(--color-tag-bg);
            margin: 0;
            padding-left: 0.5em;
        }
    }
}

@mixin header-mark {
    color: var(--color-header-mark);
    font-size: 80%;
    letter-spacing: -0.05em;
    margin-right: 0.3em;
    vertical-align: 4%;
}

h2 {
    margin-top: var(--h2-margin-top);
    margin-bottom: var(--h2-margin-bottom);
    font-size: 1.8rem;
    @media only screen and (max-width: 800px) {
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    &:before {
        content: "# ";
        @include header-mark;
    }
}

h3 {
    margin-top: 2.5rem;
    margin-bottom: -1rem;

    font-size: 1.5rem;
    @media only screen and (max-width: 800px) {
        font-size: 1rem;
    }

    &:before {
        content: "## ";
        @include header-mark;
    }
}

h4 {
    font-size: 1rem;
    &:before {
        content: "### ";
        @include header-mark;
    }
}

p {
    margin-top: 1.5em;
}

pre {
    background-color: var(--color-code-bg);
    line-height: 1.3rem;
    padding: 1.2rem;
    overflow: scroll;
    & > code {
        padding: 0;
        margin: 0;
        border: none;
    }
}

code {
    color: var(--color-code);
    background-color: var(--color-code-bg);
    border: 1px solid var(--color-code-border);
    font-size: 0.95rem;
    font-family: var(--font-code);
    padding: 0.1rem 0.25rem;
    margin: 0 0.3rem;
    border-radius: 3px;
}

figure {
    margin: 4em 0;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

main a {
    color: var(--color-link);
    text-decoration: none;
    font-weight: bold;

    &:hover {
        border-bottom: 1px solid;
    }
}

table, tr, td {
    font-size: 95%;
    border: 1px solid var(--color-table);
    border-collapse: collapse;
}

table {
    width: 100%;
    margin: 2rem 0;
}

thead {
    background: var(--color-table);
    th {
        padding: 0.5rem 0rem;
    }
}

td {
    padding: 0.5rem 1rem;
}

center {
    margin-top: 2em;
}

li {
    margin-bottom: 0.5rem;
    & > ul {
        margin-top: 0.5rem;
    }
}

hr {
    border: 2px solid var(--color-hr);
    margin: 3rem 0;
}