<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="{{ lang }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        {% if debugMode %}
            <script>
                const ws = new WebSocket("ws://localhost:3000/autoreload");
                ws.addEventListener("message", (ev) => {
                    location.reload();
                })
            </script>
        {% else %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145819933-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-145819933-1');
            </script>
        {% endif %}
        {% if lang == "en" %}
        <link href="https://fonts.googleapis.com/css?family=Crimson+Pro:400,600" rel="stylesheet">
        {% endif %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/styles/solarized-light.min.css">
      </head>
    <body lang="{{ lang }}">
        <div class="content">
            <nav>
                <div class="container">
                    <div>
                        <a href="/">seiya.me</a>
                    </div>
                    <div>
                        {% if not posts %}
                        <a href="/posts" class=posts-link>
                            <span class="icon">≡</span>
                            {{ "posts" | l10n }}
                        </a>
                        {% endif %}
                    </div>        
                </div>
            </nav>

            <main>
                {% if posts %}
                    <h1>Posts</h1>
                    <ul class="posts">
                    {% for post in posts %}
                        <li>
                            <time datetime="{{ post.dateString }}">{{ post.dateString }}</time>
                            <a href="{{ post.filename }}">{{ post.title }}</a>
                            {% if post.draft %}
                            <span>(draft)</span>
                            {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <h1>{{ title }}</h1>
                    <p class="tags">
                        <span class="tag">
                            <span class="type">{{ "date_posted" | l10n }}</span>
                            <span class="body">{{ date }}</span>
                        </span>

                    </p>
                    {{ body | safe }}
                {% endif %}
            </main>
        </div>

        {% if not posts %}
            <footer>
                <a href="/posts">{{ "other_posts" | l10n }}</a>
            </footer>
        {% endif %}
    </body>
</html>
